body{
  background-color: #727272;
  background-image: repeating-linear-gradient(-45deg, #6a6a6a 0, #6a6a6a 2px, #727272 2px, #727272 11px);
  background-size: 16px 16px;
}

header{
  display: flex;
  justify-content: center;
  height: 124px;
  background-color: #202020;
  background-image: linear-gradient(#3b3b3b, #202020);
}

picture{
  display: flex;
  justify-content: center;
}

.Grid-header{
  overflow: hidden;
}

picture > img{
  max-width: none;
  display: block;
}

nav{
  position: relative;
  margin: 0px auto;
  margin-top: -24px;
  max-width: 1224px;
  background-color: #494444;
  z-index: 100;
}

.Grid-Menu{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Data-Menu > img{
  height: 28px;
  margin-right: 6px;
}

.Data-Menu{
  font-size: 18px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.4s;
}

.Data-Menu > p{
  text-align: center;
}

.Data-Menu:hover{
  background-color: #5a5555;;
}

.Pesquisar{
  background-color: gray;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
  border-radius: 5px 0px 0px 5px;
  cursor: context-menu;
  color: white;
}

.Pesquisar::placeholder{
  color: white;
  font-size: 14px;
}

.Pesquisar:focus{
  outline: none;
}

.Pesquisa-Div{
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
}

.Enviar{
  border-radius: 0px 5px 5px 0px;
  background-color: gray;
  border: none;
  padding: 8px;
}

.Enviar > img{
  height: 20px;
}

@media screen and (max-width: 900px) {
  .Data-Menu{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 630px){
  .Grid-Menu{
    grid-template-columns: repeat(3, 1fr);
  }

  .Pesquisa-Div{
    grid-column: span 3;
  }
}

/*Footer*/

footer{
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 10px;
  color: white;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
}

footer > span{
  text-align: center;
  margin: auto;
}