.Main{
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  max-width: 1224px;
  background-color: var(--electric);;
}

.Titulo{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.Titulos{
  margin: 20px 0px;
  font-family: var(--TItuloAlternativo);
  text-align: center;
  font-size: 20px;
}

.btn{
  z-index: 999999;
  display: block;
}

.Back > img{
  height: 24px;
}

.Top{
  height: 170px;
  margin: 10px 0px;
}

.Back{
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.Generos{
  text-transform: capitalize;
  font-size: 18px;
}

.Header-Poke{
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
}

.Nomes-Pokemon{
  font-family: var(--Nomes);
  font-size: 50px;
}

.Descrição{
  text-transform: capitalize;
}

.Sprite_Pokemon{
  z-index: 90;
  height: 200px;
}

.TypeP{
  margin: 5px;
}

.TypeP > img{
  height: 44px;
}

.Pokeball-Ani{
  z-index: 1;
  bottom: 5px;
  height: 170px;
  position: absolute;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }

  from{
    transform: rotate(0deg);
  }
}

.Top{
  display: flex;
  justify-content: center;
}

.Main-Info{
  background-color: rgb(245, 242, 242);
  box-shadow: 2px -1px 16px 0px black;
  border-radius: 45px 45px 0px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Area dos Detalhes "Normais"*/

.Selecionadores{
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: gray;
  border-bottom: 1px solid rgb(189, 188, 188);
}

.Guias{
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 4px;
  width: 100px;
  height: 45px;
  transition: font-size 0.5s, font-weight 0.5s;
}

.Guias:hover{
  font-size: 23px;
  font-weight: bolder;
}

.Especie-Pokemon{
  font-size: 23px;
  font-style: oblique;
}

.Pokedex-Infos, .Status-Infos{
  padding: 10px;
  padding-left: 20px;
}

.Lista-Corporal{
  list-style: none;
  margin-left: 10px;
}

.Detalhes-Corporais{
  font-size: 22px;
}

.Info-Corpo{
  display: flex;
  width: max-content;
  margin: 20px auto;
  margin-top: 30px;
  background-color:#F9F9F9;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 3px 12px 1px rgba(34, 34, 34, 0.658)
}

.Type-Pokemon{
  width: max-content;
  margin: 10px auto;
  margin-top: 25px;
}

.Div-Type{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.Type-Icon{
  height: 22px;
}

.Infos{
  margin: 10px 0px;
  font-size: 18px;
  text-transform: capitalize;
}

.ID{
  padding: 5px;
  background-color: #D0D0D0;
  border-radius: 5px;
}

.Gener{
  padding: 2px;
  font-weight: bolder;
  color: white;
}

.Masculino > i{
  background-color: blue;
}

.Feminino > i {
  color: black;
  background-color: rgb(250, 168, 182);
}

.Info-Dex{
  margin: 20px 0px;
}

/*Informações Status*/

.Status{
  margin-bottom: 20px;
}

.Stat{
  display: flex;
  margin: 15px 0px;
  justify-content: space-between;
}

.Stat > .Numb{
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.Stat > meter{
  width: 60%;
  height: 22px;
}

/*Para Opera, Safari e Chrome*/
meter::-webkit-meter-optimum-value {
  background: rgb(59, 143, 59);
  border-radius: 20px;
}

meter::-webkit-meter-suboptimum-value {
  background: rgb(255, 199, 94);
  border-radius: 20px;
}

meter::-webkit-meter-even-less-good-value {
  background: rgb(255, 63, 63);
  border-radius: 20px;
}

/* Para Firefox */
meter:-moz-meter-optimum::-moz-meter-bar {
  background: rgb(34, 129, 34);
  border-radius: 20px;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: rgb(255, 184, 51);
  border-radius: 20px;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: rgb(253, 43, 43);
  border-radius: 20px;
}

.Type{
  display: flex;
  align-items: center;
  width: max-content;
  padding: 4px;
  border-radius: 20px;
  margin: 8px 6px;
  background-color: var(--Eletrico);
}

.Types{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tipos-Detalhes{
  display: flex;
}

.Titulos-Type{
  font-size: 24px;
}

.Type > img{
  height: 36px;
}

/*Informações sobre a Aba de Evoluções*/

.Evolution-Tree{
  overflow: scroll;
  display: grid;
  gap: 20px;
  padding: 30px;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}

.Aba-Evolucion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nomes-Pokemons{
  font-family: var(--Nomes);
  font-size: 30px;
}

.Evolution-Tree::-webkit-scrollbar {
  display: none;
}
.Evolution-Tree {
  -ms-overflow-style: none;  /* IE e Edge antigos */
  scrollbar-width: none;     /* Firefox */
}

.Alternative{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.Sprite-Pokemon{
  height: 250px;
}